$orange-color:#F86011;
$light-orange:#FFE7DA;
$hover-primary:#DA5107;
$text-grey:#7e876a;
$backgruond-secondary:#F5F5F7;
$footer-bg:#000000;
$primary-color:#F86011;
$light-primary:#FFE7DA;

$text-secondDark:#7e876a;